.cards {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    grid-gap: 16px;
}
.card {
    height: 290px;
    border-radius: 16px;
    background-position: center;
    display: flex;
    align-items: end;
    color: #fff; 
    font-size: clamp(8px, 3vw, 12px);
    position: relative;
    margin: 10px;
    h2 {
        z-index: 1;
        padding: 12px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &::before{
        content: '';
        position: absolute;
        width: 100%;  
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
    }
}