@import '../../styles/mixins.scss';

.container-error {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    color: $primary-color;
    gap: clamp(16px, 25vw, 32px);
    
    
    h1  {
        font-size: clamp(26px, 25vw, 288px);
        margin: 0;
    }

    p {
        font-size: clamp(16px, 3vw, 32px);
        font-weight: 400;
        text-align: center;
    }
    a {
        @include primaryFont();
        font-weight: 500;
        color: $primary-color;
        text-decoration: none;
        font-size: 1.25rem;
        transition: color 0.2s;
        &:hover {
          text-decoration: underline;
        }
    }   
}