@import '../../styles/mixins.scss';

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  svg {
    width: 120px;
    max-width: 100%;
  }
  nav {
    display: flex;
    gap: 16px;

  
      a {
        @include primaryFont();
        font-size: clamp(16px, 3vw, 24px);
        font-weight: 500;
        color: $primary-color;
        text-decoration: none;
        transition: color 0.2s;
        &:hover {
          text-decoration: underline;
        }
    }
  }
}
