@import './styles/mixins.scss';

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    @include primaryFont();
}

.main-container {
    padding: 16px;
    margin: 0 auto;
    max-width: 1440px;
    flex: 1 0 auto;
}